@{
    ViewBag.Title = "Data Velocity Visualizer";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This tool is used to dynamically monitor the speed at which data is entering and leaving a database. It also gathers
                statistical information about this speed to be used for analysis.
            </p>
        </div>
    </section>
}
<h3>Potential Users of this Application:</h3>
<ol class="round">
    <li class="one">
        <h5>ETL Developers</h5>
        Software engineers that are developing extract-transform-load processes can use this tool to monitor execution speed from run to run.
    </li>

    <li class="two">
        <h5>Database Administrators</h5>
        DBAs can point this tool to an important database they are keeping tabs on to check for dips in RPS (rows per second).
    </li>

    <li class="three">
        <h5>Business Analysts</h5>
        When reviewing if and how often a database is being used, a BA can run this tool to analyze usage.
    </li>
</ol>
