<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="dvvRules" Description="Rules Used by the Data Movement Analyzer" ToolsVersion="11.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
  </Rules>
</RuleSet>